<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Daftar Siswa</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
 <div class="container">
  <h1>Daftar Siswa</h1>
  <table class = "table table-striped table-responsive-md">
    <tr>
      <th>ID</th>
      <th>NIS</th>
      <th>Nama Siswa</th>
      <th>Tempat Lahir</th>
      <th>Tanggal Lahir</th>
      <th>Jenis Kelamin</th>
      <th>Alamat</th>
      <th>Email</th>
      <th>Nomor Telepon</th>
      <th>Kelas</th>
<!--      <th>Jurusan</th>-->
      <th>Aksi</th>
    </tr>
    <tr th:each="siswa : ${siswaList}">
      <td th:text="${siswa.idSiswa}"></td>
      <td th:text="${siswa.nis}"></td>
      <td th:text="${siswa.nama_siswa}"></td>
      <td th:text="${siswa.tempat_lahir_siswa}"></td>
      <td th:text="${siswa.tanggal_lahir_siswa}"></td>
      <td th:text="${siswa.jenis_kelamin_siswa}"></td>
      <td th:text="${siswa.alamat_siswa}"></td>
      <td th:text="${siswa.email_siswa}"></td>
      <td th:text="${siswa.nomor_telp_siswa}"></td>
      <td th:text="${siswa.data_kelas.nama_kelas}"></td>
      <td th:text="${siswa.jurusan.nama_jurusan}"></td>
<!--      <td>-->
<!--        <a th:href="@{/updateJurusan/{id}(id=${siswa.id})}" class="btn btn-primary btn-sm ">Update</a>-->
<!--        <a th:href="@{/deleteSiswa/{id}(id=${siswa.id})}"-->
<!--           onclick="return confirm('Yakin ingin menghapus Data ini')"-->
<!--           class="btn btn-danger btn-sm">Hapus-->
<!--        </a>-->
<!--      </td>-->
    </tr>
  </table>
</div>
</body>
</html>
